* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  scroll-behavior: smooth;
  background-image: url(../img/background.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 10px 0px;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo {
  width: 60px;
  padding-left: 30px;
  transition: 0.2s ease-in-out;
}

li {
  padding: 25px 35px;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

li:hover {
  font-size: 1.1rem;
}

.logo:hover {
  width: 70px;
}

#link {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

h1,
li,
ul,
a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.active {
  color: #e52222;
  font-size: 1.1rem;
}

.logotext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  font-size: 5rem;
  text-align: center;
  margin-bottom: -5rem;
}

.secondarytext {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 22rem;
  transform-origin: center;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 25rem;
}

.image-container img {
  width: 10%;
  align-self: center;
}

.gallerygrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 35vw);
  grid-gap: 5px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  background: black;
  height: 100vh;
  width: 100%;
  margin-top: 15rem;
}

.link-holder {
  position: relative;
  text-align: center;
  top: 4%;
}

.gallerylinks {
  text-align: center;
  display: inline-block;
  margin-bottom: 5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 40px;
  transition: 0.2s ease-in-out;
}

.gallerylinks:hover {
  font-size: 1.2rem;
}

.socialmedia {
  margin: 0px -20px;
}

@media screen and (max-width: 768px) {
  .secondarytext {
    width: 80%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .secondarytext {
    width: 100%;
    font-size: 1rem;
  }

  .logotext {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .socialmedia {
    display: none;
  }

  .image-container {
    display: none;
  }

  li {
    display: none;
  }
  .gallerygrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 70vw);
    grid-gap: 5px;
  }

  .gallery {
    background: black;
    height: 100vh;
    width: 100%;
    margin-top: -11rem;
  }
}
